*{
   scroll-behavior: smooth;
   font-family: 'Poppins', sans-serif;
}
body{
   box-sizing: border-box;
   margin: 0;
   padding: 0 5%;
   font-family: 'Poppins', sans-serif;
}
:root{
   --header-tag-color:#3A3A3A;
   --p-tag-color:#6C6C6C;
   --button-color: #E02C6D;
   --footer-color: #0A0826;
   --star-color:#FB8200;
 
}

/* start section one */
/* start section one */
/* start section one */

.link-header{
   padding-top: 25px;
   align-items: center;
}
nav{
   display: flex;
   justify-content: space-between;
   
}
nav .menu{
   display: none;
}
nav .logo a{
   color: var(--header-tag-color);
   text-decoration: none;
   font-size: 1.44em;
   font-weight: 700;
}
.logo:hover a{
   color: var(--button-color);
   transition: all 0.3s;
}
label {
   display: none;
}
nav div .fa-cart-arrow-down{
   display: none;
}
nav ul{
   list-style: none;
   display: flex;
   
}
nav ul li a{
   text-decoration: none;
   margin-left: 34px;
   color: var(--header-tag-color);
}
nav ul li:hover a{
   color: var(--button-color);
   transition: all 0.2s;
}

@media(max-width:940px){

  nav .menu{
     display: block;
     font-size: 24px;
     color: var(--header-tag-color);
  }
  nav .menu:hover{
     color: var(--button-color);
     transition: all 0.2s;
  }
  nav{
     display: block;
     padding: 0 20px;
  }
  nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .logo a{
     color: var(--header-tag-color);
     font-size: 20px;
  }
 nav ul{
    display: none;
 }
  nav div .fa-cart-arrow-down{
     display: block;
     font-size: 22px;
  }
  nav div .fa-cart-arrow-down:hover{
     color: var(--button-color);
     transition: all 0.2s;
  }
}

/* end header navbar tag  */
/* end header navbar tag  */
/* end header navbar tag  */

.header-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 100px;
  
}
.header-text{
   margin-top: 100px;
}
.header-text h1{
   color: var(--header-tag-color);
   font-size: 52px;
   margin: 0;
   padding: 0;
   
}
.header-text p{
   font-size: 16px;
   font-weight: 600;
   color: var(--header-tag-color);
   margin: 0;
   margin-bottom: 23px;
   margin-top: 8px;
}
.button-btn{
    padding: 12px 24px;
    border: none;
    background-color: var(--button-color);
    border-radius: 50px;
}
.button-btn:hover{
   background-color: #fff;
   border: 2px solid var(--button-color);
   transition: sliding 0.3s;
   
}
.button-btn a{
   color: #fff;
   text-decoration: none;
   font-size: 16px;
   font-weight: 700;
}
.button-btn:hover a{
   color: var(--button-color);
   transition: all 0.5s;
}

.header-images .camera{
   margin-left: 30px;
   width: 80%;
   margin-top: 70px;
   background-image: url(images/Circle\ design.svg);
   background-repeat: no-repeat;
}
 .srcoll-button {
   position: fixed;
   height: 45px;
   width: 45px;
   background-color: var(--button-color);
   border-radius: 8px;
   margin-top: 460px;
   font-size: 24px;
   display: grid;
   align-items: center;
   justify-content: center;
   margin-left: 88%;
   
}
.srcoll-button a{
   color: #fff;
}
.srcoll-button:hover{
  box-shadow: 1px 1px 5px var(--button-color);
  transition: all 0.5s;
}

@media screen and (max-width:767px){
   .srcoll-button{
      display: none;
   }
   .srcoll-button a{
      display: none;
   }
   .header-section{
      grid-template-columns: repeat(1,1fr);
   }
   .header-images{
      position: absolute;
      margin: 0;
      padding: 0;
   }
   .header-images .camera{
    
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 400px;
 
   }
   .header-text{
      margin-top: 340px;
      display: grid;
      grid-row-gap: 5px;
      text-align: center;
   }
   .header-text h1{
      font-size: 28px; 
      
   }
   .header-text p{
      font-size: 14px;
   }
   .section-one{
      align-items: center;
      justify-content: center;
   }
}

@media(min-width: 500px) and (max-width: 720px){
   .header-text{
      margin-top: 450px;
      
   }
   .header-text h1{
      font-size: 32px;
   }
   .header-text p{
      font-size: 16px;
   }
}
/* brand logo header  */
/* brand logo header  */
/* brand logo header  */

header{
   margin-top: 120px;
   padding: 0;
   align-items: center;
}
header ul{
   list-style: none;
   display: grid;
   grid-template-columns: repeat(7,1fr);
   align-items: center;
  
}
header ul li{
   align-items: center;
   cursor: pointer;
   
}


hr{
   color: rgb(202, 202, 202);
}

@media screen and (max-width:767px){
   
   header{
      margin-top: 80px;
      
   }
   header ul{
   grid-template-columns: repeat(4,1fr);
   align-items: center;
   padding-left: 15px;
   justify-content: center;

   }

 header ul li{
   line-height: 40px;
 }
   header ul li img{  
      width: 70%;
      
     
   }
}

   /* start second section  */
   /* start second section  */
   /* start second section  */

.second-section{
   padding: 0 7%;
   margin-top: 90px;
   margin-bottom: 90px;
   
}
.second-section .header-h2{
   font-size: 28px;
   color: var(--header-tag-color);
   text-align: center;
   margin-bottom: 30px;
}
.products{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-column-gap: 25px;
   grid-row-gap: 25px;
}
.one-product{
   background-color: #fff;
   padding: 17px;
   border-radius: 7px;
   box-shadow: 0.5px 0.5px 10px rgb(204, 204, 204); 
}
.one-product h2{
   margin: 0;
   color: var(--header-tag-color);
}
.one-product p{
   margin: 0;
   color: var(--p-tag-color);
   font-weight: 600;
}
.one-product i{
   color: var(--star-color);
}
.one-product span{
   padding-left: 3px;
   color: var(--header-tag-color);
}
.see-more{
   color: var(--button-color);
}
.see{
   margin-left: 91%;
   margin-top: 20px;
}

@media screen and (max-width:767px){
   .second-section{
      padding: 0 4%;
      margin-top: 60px;
      
   }
   .second-section .header-h2{
      font-size: 20px;
      color: var(--header-tag-color);
      text-align: center;
      margin-bottom: 30px;
   }
   .products{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-column-gap: 25px;
      grid-row-gap: 25px;
   }
   .see{
      margin-left: 70%;
      margin-top: 20px;
   }

}

@media(min-width: 500px) and (max-width: 720px){

   .second-section{
      padding: 0 20%;
      margin-top: 60px;
      
   }
   .second-section .header-h2{
      font-size: 24px;
      color: var(--header-tag-color);
      text-align: center;
      margin-bottom: 30px;
   }
   .products{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-column-gap: 25px;
      grid-row-gap: 25px;
   }
   .see{
      margin-left: 65%;
      margin-top: 20px;
   }
}


/* third section start  */
/* third section start  */
/* third section start  */

.third-section{
   padding: 0 5%;
   display: flex;
   
}
.third-text{
   margin-left: 96px;
}

.third-text h2{
   color: #0A0826;
   font-size: 30px;
   margin: 0;
   margin-top: 25px;
}
.third-section p{
   color: var(--p-tag-color);
   margin: 0;
   margin-top: 10px;
   font-weight: 600;
}
.third-text button{
   border-radius: 0px;
   margin-top: 20px;
}

@media screen and (max-width:767px){
   .third-section{
      display: block;
      padding: 0 2%;
   }
   .third-text{
      margin-left: 0;
      text-align: center;
   }
   .third-text h2{
      font-size: 24px;
   }
   .third-text p{
      font-size: 14px;
   }
   .third-image img{
      width: 99%;
      justify-content: center;
   }
   .third-text button{
      padding: 12px 120px;
   }
}
@media(min-width: 500px) and (max-width: 720px){

}







main{
   margin-bottom: 500px;
}
